/bin
/build
/dist
/Osm2ShareNav/bin
/Osm2ShareNav/dist
/Osm2ShareNav/exploded
/Osm2ShareNav/resources/ShareNav*
/.externalToolBuilders
/.polishSettings
/.project
/build.properties
/android.properties
