listItem {
	font-color: black;
	font-style: normal;
	font-size: normal;
	font-face: proportional;
	background-color: white;
	border-type: bottom;
	border-color: gray;
	layout: expand;
	padding: 4%;
	focused-style: listItemFocused;
}
listItemFocused extends listItem {
	font-color: white;
	background-color: black;
}
formItem {
	font-color: black;
	font-style: normal;
	font-size: normal;
	font-face: proportional;
	background-color: white;
	border-type: bottom;
	border-color: gray;
	layout: expand;
	padding: 4%;
	focused-style: formItemFocused;
}
formItemFocused extends formItem {
	font-color: white;
	background-color: gray;
}
title {
	padding: 2;
	margin-top: 0;
	margin-bottom: 5;
	margin-left: 0;
	margin-right: 0;
	font-face: proportional;
	font-size: normal;
	font-style: bold;
	font-color: white;
	background-color: gray;
	border: none;
	layout: horizontal-center | horizontal-expand;
}
choicegroup {
	focused-style: .groupFocused;
	popup-color: gray;
}
.groupFocused {
	font-face: proportional;
	font-size: medium;
	font-style: bold;
	font-color: black;
	border {
		type: drop-shadow;
		inner-color: #a0e0;
		outer-color: #8888;
		width: 3;
		orientation: all;
	}
}
info {
	padding-right: 10;
	background: none;
	border-color: black;
	font-style: plain; 
	font-face: proportional; 
	font-size: large; 
	font-color: black;
	margin-top: 28;
	layout: right;
}
